<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SoySanjuanero</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="./icons/logoSoySanjuanero.png" type="image/x-icon">
        <!-- Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
        <!-- wompi -->
        <script type="text/javascript" src="https://checkout.wompi.co/widget.js"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="headerSection">
                    <i 
                        onclick="ShowHideMenu()" 
                        id="sandwich" 
                        class="material-icons"
                    >widgets</i>
                </div>
                <div class="headerSection">
                    <span>
                        <img 
                            onclick="scrollToTop()" 
                            id="logo" 
                            src="./icons/logoSoySanjuanero.png" 
                            alt="LogoSoySanjuanero"
                        >
                    </span>
                </div>
                <div class="headerSection">
                    <span id="menuBotonCarrito">
                        <img  
                            v-bind:src="shoppingCartIcon" 
                            v-bind:alt="shoppingCartAlt">
                    </span>
                </div>
            </header>
             
            <main id="main" >
                <!-- cards -->
                <div 
                        v-for="(story,counter) in stories" 
                        class="card" 
                        v-bind:id="'card'+calculateId(counter)"
                    >
                    <div class="cardContainerImg">
                        <img 
                            v-for="img in story.img" 
                            class="cardImgElement" 
                            v-bind:src="img" 
                            alt=""
                        >
                    </div>
                    <div class="cardContainerImgNav">
                        <img  
                            v-if="imgNavValue"
                            v-bind:id="'imgPrev'+calculateId(counter)"
                            src="./icons/prev_24px.png" 
                            alt="Img Previa" 
                            onclick="prevCardImgElement(this.id)" 
                        >
                        <img 
                            v-if="imgNavValue"
                            src="./icons/right_button_24px.png" 
                            alt="Img Siguiente" 
                            onclick="nextCardImgElement(this.id.substring(this.id.length-7,this.id.length))"
                        >
                    </div>
                    <div class="cardContainerSocial">

                    </div>
                    <div class="cardText" v-if="story.text">
                        {{ story.text }}
                    </div>
                </div>
            </main>

            <div id ='overlayMenu' onclick="ShowHideMenu()">
            </div>

            <menu class="menu hideMenu">
    <!--             <div class="menuBoton">
                    <a><i class="material-icons">radio</i><p>Radio Online</p> </a>
                </div> -->
                <div class="menuBoton">
                    <a @click="showHideAbout('SoySanjuanero')"><img src="./icons/logoSoySanjuanero.png" alt=""><p>SoySanjuanero</p> </a>
                </div>
                <div class="menuBoton" >
                    <a  @click="showHideAbout('SanJuanNepo')"><img src="https://i.imgur.com/vAGXP1z.png" alt=""><p>San Juan Nepo.</p> </a>
                </div>
                <div class="menuBoton">
                    <a onclick="showAbout()"><img src="/icons/online_support_64px.png" alt=""><p>Contacto</p> </a>
                </div>
                <div class="menuSocial">
                    <a data-text="(+57) 310 547 80 93" onclick="ShowMenuSocialDetail(this)"  target="blank()" href="https://wa.me/573105478093"><img src="./icons/whatsapp_64px.png" alt=""></a>
                    <a data-text="https://www.facebook.com/ yosoysanjuanero/" onclick="ShowMenuSocialDetail(this)"  target="blank()" href="https://www.facebook.com/yosoysanjuanero/"><img src="./icons/facebook_circled_64px.png" alt=""></a>
                    <a data-text="https://www.instagram.com/ soy.sanjuanero/" onclick="ShowMenuSocialDetail(this)"  target  ="blank()" href="https://www.instagram.com/soy.sanjuanero/"><img src="./icons/instagram_old_64px.png" alt=""></a>
                    <a data-text="info@soysanjuanero.store" onclick="ShowMenuSocialDetail(this)"  href="mailto:info@soysanjuanero.store"><img src="./icons/email_64px.png" alt=""></a>
                    <a data-text="(+57) 310 547 80 93" onclick="ShowMenuSocialDetail(this)"   href="tel:+573105478093"><img src="./icons/cell_phone_64px.png" alt=""></a>
                </div>
                <div id="menuSocialDetail">
    
                </div>
                <div id="menuFilter">
                    <span class="menuFilterSearch">
                        <i class="material-icons">search</i>
                        <input 
                            type="text" 
                            name="filtro" 
                            id="menuFilterInput"  
                            onfocus="seleccionarTodoInput(this)" 
                            placeholder="Buscar..."
                            @change="methodFilter"
                            v-model="filterValue">
                    </span>
                </div>
            </menu>

            <div id="OverlayAbout" v-if="overlayAboutValue" @click="showHideAbout('close')">
                <div class="aboutIcons" >
                    <i class="material-icons">keyboard_backspace</i>
                </div>
                <div class="aboutContainer">

                    <img v-bind:src="aboutImg" alt="" class="aboutImg">
                    <span class="aboutTitle">
                        {{ aboutTitle }}
                    </span>
                    <p class="aboutText">
                        {{ aboutText }}
                    </p>
                </div>
            </div>

            <div id="overlayShoppingCart">
                <div class="aboutIcons" >
                    <i class="material-icons">keyboard_backspace</i>
                </div>
                <div class="aboutContainer">

                </div>
            </div>

            
<!--             <div id="overlayDetail">

            </div> -->
    
<!--             <div id="aboutDetail" class="hide">
                <i   class="material-icons aboutDetailClose" onclick="hideAbout()">close</i>
                <div id="containerDetail">
                    SoySanjuanero/San Juan Nepo
                </div>
            </div>  -->
<!--             <div id="carrito" class="hide">
                <div class='carritoContainer'>
                    <form>
                        <script
                          src="https://checkout.wompi.co/widget.js"
                          data-render="button"
                          data-public-key="pub_prod_fjmg6rFhMISzqHrBANhPJXEQtbnmnSIh"
                          data-currency="COP"
                          data-amount-in-cents="4950000"
                          data-reference="20-179-86400"
                          >
                        </script>
                      </form>
                </div>
            </div> --> 
            <div id="pieza1" class="pieza">
                <img  v-bind:src="piezasImg[0]" alt="pieza">
                <img  v-bind:src="piezasImg[1]" alt="pieza">
                <img class="lastPieza"  v-bind:src="piezasImg[2]" alt="pieza">
            </div>
            <div id="pieza2" class="pieza">
                <img  v-bind:src="piezasImg[3]" alt="pieza">
                <img  v-bind:src="piezasImg[4]" alt="pieza">
                <img  class="lastPieza" v-bind:src="piezasImg[5]" alt="pieza">
            </div>
        </div>
        <!-- FireBase -->
<!--         <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
        <script src="post.js"></script> -->
        <!-- VueJs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <!-- historias -->
        <script src="piezas.js"></script>
        <script src="historias.js"></script>
        <script src="index.js"></script>
    </body>
</html>





