body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    z-index: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: rgb(75, 74, 74);
}
/* HEADER */
header{
    width: 100%;
    min-width: 320px;
    height: 65px;
    border-bottom: solid 1px rgb(218, 215, 214);
    box-shadow: 0px 2px 5px 0px rgba(48,48,48,0.2);
    z-index:4;
    text-align: center;
    
}
.container{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header .container img{
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
}
.headerImgLogo{
    height: 60px !important;
}
.headerDiv{
    display: flex;
    align-items: center;
}

header .container .headerDiv span{
    box-shadow: 1px 1px 2px 1px rgba(138, 137, 137, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
header .container .headerDiv span:hover{
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
    border: solid gray 1px;
}
#filterInput{
    width: 10px;
    border: none;
    height: 2.5em;
    transition: 300ms;
}
header .container .headerDiv span input:hover, header .headerDiv span input:focus{
    outline: none;
    border: none;
}

#menuFilter{
    margin-top: 50px;
}
.menuFilterSearch{
    box-shadow: 1px 1px 2px 1px rgba(138, 137, 137, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.menuFilterSearch:hover{
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
    border: solid gray 1px;
}
.menuFilterSearch input{
    border: none;
    height: 1.5em;
}

.menuFilterSearch input:focus{
    border: none;
    outline: none;
}
/* CARDS */
main{
    width: 100%;
    height: 100%;
    min-height: 500px;
    overflow: hidden scroll;
    background-color: rgb(209, 207, 207);
}
.card{
    width: 100vw;
    max-width: 500px;
    min-width: 350px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 2px 1px rgba(36, 36, 36, 0.3);
    overflow: hidden ;
    transition: 500ms;
}
.card:hover{
    box-shadow: 1px 1px 6px 4px rgba(48,48,48,0.2);
}
.containerImgFull{
    display: flex;
    overflow:hidden;
    align-items: center;
    transition: 500ms;

}
.cardImgElement{
    width: 100vw;
    max-width: 500px;
}
.cardContainerImgNav{
    background-color: rgba(0,0,0,0);;
    display: flex;
    justify-content: center;
    margin: -50px 0 25px 0;
    z-index: 1;
    cursor: pointer;
}
.cardContainerImgNav img {
    margin: 0 5px;
    height: 25px;
}
.cardContainerSocial ,.cardContainerStore{
    background-color: white;
    display: flex;  
    align-items: center;
    height: 25px;
    justify-content: center;
    margin: 5px 0;
    cursor: pointer;
}

.cardSocialElement img{
    height: 20px;
    transition: 200ms;
}
.cardSocialElement img:hover{
    transform: scale(1.2);
}
.cant:focus{
    outline: none;
}
.cardText{
    background-color: white;
    width: 90%;
    margin: 10px auto 30px auto;
}
.nombre{
    width: 200px;
}
.containerImg{
    width: 100vw;
}
/* SHOPPING MALL */
.aboutDetail{
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(36, 36, 36, 0.85);
    z-index: 5;
}
.aboutDetailClose{
    width: 100vw;
    max-width: 700px;
    min-width: 350px;
    height: 30px;
    color: white;
    cursor: pointer;
    text-align: right;

}
.containerDetail{
    width: 100vw;
    max-width: 700px;
    min-width: 350px;
    background-color: white;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shoppingMall .containerDetail div{
    background-color: white;
    width: 100vw;
    max-width: 700px;
    min-width: 350px;
}
#resumenMallTitle,#spanTitleDatosDeCompra{
    font-size: 30px;
}
.datosMall{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 ;

}
.datosMall span{
    display: flex;
}
.datosMall span img{
    height: 3em;
    margin: 0 3px;
}

.botonPagos span{
    background-color: rgb(167, 167, 167);
    height: 70px;
    width: 250px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    margin: 5px auto;
}

.campoMall{
    width: 250px;
    margin: 3px 0;
}
.campoMall span{
    font-weight: 900;
}
.campoMall select,.campoMall input{
    width: 100%;
}

#shopConfirmation{
    position: absolute;
    width: 100vw;
    height: 150px;
    top: calc(100vh - 150px);
    left: 0;
    background-color: red;
    color: white;
    z-index: 5;
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
    cursor: pointer;
}
.notaSpanShopping{
    font-size: 15px;
}
#spanPreguntasShoppingMall{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}
#imgPreguntasShoppingMall{
    height: 1em;
}

/* MENU */
.menu{
    width: 270px;
    height: 100vh;
    min-height: 500px;
    position: absolute;
    top: 50px;
    left: 0;/* -100vw; */
    z-index: 2;
    transition: 800ms;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(48,48,48,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.hideMenu{
    left: -100vw;
}
.menuBoton{
    width: 170px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 5px;
    margin: 5px auto ;
    padding: 0 0 0 10px;
    border-bottom: rgba(48,48,48,0.2) solid 1px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 500ms;
}
.menuBoton:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
}
.menuBoton a{
    display: flex;
    justify-content: left;   
    align-items: center;
    text-decoration: none;
    color:  rgb(75, 74, 74);
}
.menuBoton a img{
    height: 30px;
}
.menuSocial{
    width: 170px;
    margin-top: 50px;
    text-align: center;
    word-break: break-word;
}
.menuSocial a img{
    height: 40px;   
    margin: 3px;
    transition: 200ms;
}
.menuSocial a img:hover, .menuBoton a img:hover{
    transform: scale(1.2);
}
#menuSocialDetail{
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 20px;
    font-size: 10px;
}

.menuBoton a p{
    margin-left: 5px;
}

#menuOverlay {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(90, 90, 90,.3);
    z-index: 1;
    display: none;
  }

.showOverlay {
   display: block !important;
}


/* ABOUT */
.containerDetail .detailImg{
    width: 100%;
}
.containerDetail .detailSpan{
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
}
.containerDetail .detailP{
    width: 90%;
    margin: 0 auto 20px auto;
}

/* PIEZAS */
.pieza{
    position: absolute;
    width: 190px;
    top: 70px;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
    padding: 10px;
    background-color: white;
    z-index: 4;
}
.pieza img{
    width: 100%;
}
#pieza1{
    right: 20px; 
}
#pieza2{
    right: 240px; 
}
.lastPieza{
    display: none;
}
#seccionDonaciones{
    display: flex;
    justify-content: center;
}
#containerDonaciones{
    width: auto !important;
}
#donateSpan{
    display: flex;
    text-align: center;
    margin: 10px;
    background-color: rgb(167, 167, 167);
    border-radius: 5px;
    padding: 5px;
    width: 70%;
}
#donateButton{
    background-color: rgb(167, 167, 167) !important;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 100px !important;
}
#donateAmount{
    font-size: 30px;
    border-radius: 5px;
    width: 70%;
}
#donateNotes{
    width: 70%;
    min-height:100px;
    min-width: 300px;
    margin: 10px 0;
}
iframe{
    width: 100vw;
    max-width: 500px;
    min-width: 350px;
}

.hide{
    display: none;
}
@media screen and (min-width: 600px){
    .container{
        width: 80%;
    } 
    
}
@media screen and (min-width: 1170px){
    #pieza1{
        display: block;
    }
    .headerSection{
        margin: 0 40px;
    }
    .headerSection:first-child{
        display: none;
    }
    .menu{
        left: 0;
    }
    #headerMenuSanditch{
        display: none;
    }
}
@media screen and (min-width: 1650px){
    #pieza2{
        display:block;
    }
    .lastPieza{
        display:block;
    }
    .menu{
        width: 220px;
        padding: 0 40;
    }
    .menuSocial{
        padding-right: 40px;
    }

}