body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    z-index: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: rgb(75, 74, 74);
}
header{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(218, 215, 214);
    box-shadow: 0px 2px 5px 0px rgba(48,48,48,0.2);
    z-index:3;
}
.headerSection {
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}
#sandwich{
    font-size: 40px;
    transition: 800ms;
}
.rotate{
    transform: rotate(-90deg);
}

.headerSection span{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.headerSection span img{
    height: 50%;
}
#logo{
    height: 100%;
    font-size: 5px;
}
#menuBotonCarrito{
    /* background-color: rgb(224, 224, 224); */
}
#menuBotonCarrito {
    height: 40px;
    width: 40px;
}

main{
    width: 100%;
    height: 100%;
    min-height: 500px;
    overflow: hidden scroll;
    background-color: rgb(240, 239, 239);
}
.card{
    width: 100vw;
    max-width: 500px;
    min-width: 350px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
    overflow: hidden ;
    transition: 500ms;
}
.card:hover{
    box-shadow: 1px 1px 6px 4px rgba(48,48,48,0.2);
}
.cardContainerImg{
    display: flex;
    overflow:hidden;
    align-items: center;
    transition: 500ms;

}
.cardImgElement{
    width: 100vw;
    max-width: 500px;
}
.cardContainerImgNav{
    background-color: rgba(0,0,0,0);;
    display: flex;
    justify-content: center;
    margin: -50px 0 25px 0;
    z-index: 1;
}
.cardContainerImgNav img {
    margin: 0 5px;
    height: 25px;
}
.cardContainerSocial{
    background-color: white;
    display: flex;  
    align-items: center;
    height: 25px;
    justify-content: center;
    margin: 5px 0;
}
.cardContainerSocialList{
    margin-left: 20px;
}
.cardSocial{
    height: inherit;
}
.cardSocial img {
    height: inherit;
    transition: 200ms;
}
.cardSocial img:hover{
    transform: scale(1.2);
}
#cardCant{
    margin-left: 20px;
    font-size: 15px;
    outline: none;
    color: rgb(75, 74, 74);
    border: none;
    text-align: center;
}
#cardCant option{
    font-size: 15px;
}
.cardText{
    background-color: white;
    width: 90%;
    margin: 10px auto 30px auto;
}

.menu{
    width: 270px;
    height: 100vh;
    min-height: 500px;
    position: absolute;
    top: 35px;
    left: 0;/* -100vw; */
    z-index: 2;
    transition: 800ms;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(48,48,48,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.hideMenu{
    left: -100vw;
}
.menuBoton{
    width: 170px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 5px;
    margin: 5px auto ;
    padding: 0 0 0 10px;
    border-bottom: rgba(48,48,48,0.2) solid 1px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 500ms;
}
.menuBoton:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
}
.menuBoton a{
    display: flex;
    justify-content: left;   
    align-items: center;
    text-decoration: none;
    color:  rgb(75, 74, 74);
}
.menuBoton a img{
    height: 30px;
}
.menuSocial{
    width: 170px;
    margin-top: 50px;
    text-align: center;
    word-break: break-word;
}
.menuSocial a img{
    height: 40px;   
    margin: 3px;
    transition: 200ms;
}
.menuSocial a img:hover{
    transform: scale(1.2);
}
#menuSocialDetail{
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 20px;
    font-size: 10px;
}

.menuBoton a p{
    margin-left: 5px;
}
#menuFilter{
    margin-top: 50px;
}
.menuFilterSearch{
    box-shadow: 1px 1px 2px 1px rgba(138, 137, 137, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.menuFilterSearch:hover{
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
    border: solid gray 1px;
}
.menuFilterSearch input{
    border: none;
    height: 1.5em;
}

.menuFilterSearch input:focus{
    border: none;
    outline: none;
}

#overlay {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(90, 90, 90,.3);
    z-index: 1;
    display: none;
  }

  .showOverlay {
   display: block !important;
}
#imgDiv{
    position: absolute;
    width: 100vw;
    height: 133.33vw;
    background-image: url('http://lorempixel.com/150/200/');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    top: 0;
    z-index: 2;
}

.pieza{
    position: absolute;
    width: 190px;
    top: 70px;
    display: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(48,48,48,0.2);
    padding: 10px;
    background-color: white;
    z-index: 4;
}
.pieza img{
    width: 100%;
}
#pieza1{
    right: 20px; 
}
#pieza2{
    right: 240px; 
}
.lastPieza{
    display: none;
}
#aboutDetail{
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(36, 36, 36, 0.85);
    z-index: 5;
}
.aboutDetailClose{
    width: 100vw;
    max-width: 700px;
    min-width: 350px;
    height: 30px;
    color: white;
    cursor: pointer;
    text-align: right;

}
#containerDetail{
    width: 100vw;
    max-width: 700px;
    min-width: 350px;
    background-color: white;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailImg{
    width: 100%;
}
.detailTitle{
    font-weight: 900;
    font-size: 30px;
}
.detailText{
    width: 90%;
    margin:10px auto 50px auto;

}
#carrito{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    background-color: rgba(90, 90, 90,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.carritoContainer{
    background-color: white;
    width: 100vw;
    min-height: 90vh;
    max-width: 500px;
    min-width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}
.carritoTitle{
    text-align: center;
    font-size: 30px;
    margin: 5px 0;
}
.carritoTable{
    width: 100%;
    margin:30px 0;
}
.carritoTable td, th, tr {
    text-align: center;
}
.carritoTable th{
    margin-top: 5px;
}
.carritoImg{
    margin-top: 30px;
    width: 100%;
}
.carritoIcons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    
}
.carritoClear{
    height: 1.5em;
}
td{
    font-size: 12px;
}

.hide{
    display: none !important;
}

.carritoContainer form{
    height: 100px;
}


@media screen and (min-width: 1170px){
    #pieza1{
        display: block;
    }
    .headerSection{
        margin: 0 40px;
    }
    .headerSection:first-child{
        display: none;
    }
    .menu{
        left: 0;
    }

}
@media screen and (min-width: 1650px){
    #pieza2{
        display:block;
    }
    .lastPieza{
        display:block;
    }
    .menu{
        width: 220px;
        padding: 0 40;
    }
    .menuSocial{
        padding-right: 40px;
    }

}







